*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
  }

body {
    background: hsl(47, 88%, 63%);
    font-family: "Figtree", serif;
    
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.blog-card {
    width: 327px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    border-radius: 20px;
    box-shadow: 8px 8px 0px 0px #000;
}

header img {
    border-radius: 8px;
    background: hsl(0, 0%, 100%);
}

.article-text-content > *:not(:first-child) {
    margin-top: 12px;
}

.article-category {
    padding: 4px;
    background: hsl(47, 88%, 63%);
    color: hsl(0, 0%, 7%);
    font-size: 12px;
    font-weight: 800;
    line-height: 150%;
    border-radius: 4px;
}

.date {
    color: hsl(0, 0%, 7%);
    font-size: 12px;
    font-weight: 500;
    line-height: 150%;
}

.title {
    color: hsl(0, 0%, 7%);
    font-size: 20px;
    font-weight: 800;
    line-height: 150%;
}

.description {
    color: hsl(0, 0%, 42%);
    font-size: 14px;
    font-weight: 500;
    line-height: 150%;
}

.author-info {
    display: flex;
    align-items: center;
    gap: 12px;
}

.author-name {
    color: hsl(0, 0%, 7%);
    font-size: 14px;
    font-weight: 800;
    line-height: 150%;
}